<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/side.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/side.css}">
</head>
<body>
<div class="top" th:fragment="topbar">
    <h1 align="center">内容管理系统</h1>
</div>

<div id="sidebar" class="container-fluid" th:fragment="sidebar">
    <div class="row">
        <div class="col-md-2" style="background: #ddd">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li><a th:href="@{/main}">返回首页</a></li>
                <li shiro:user=""><a th:href="@{/logout}">注销</a></li>
                <li shiro:guest><a th:href="@{/login}">登录</a></li>
                <li shiro:hasPermission="role1"><a th:href="@{/role/list}">角色管理</a></li>
                <li shiro:hasPermission="role2"><a th:href="@{/user/list}">用户管理</a></li>
                <li shiro:hasPermission="role3"><a th:href="@{/content/list}">内容管理</a></li>
                <li shiro:hasPermission="role4"><a href="#">日志管理</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>