<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/side.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/side.css}">
</head>
<body>
<div th:replace="~{side::topbar}"></div>
<div th:replace="~{side::sidebar}"></div>
<div class="main">
    <a class="btn btn-sm btn-success" th:href="@{/role/addRole}">新增</a>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>角色名</th>
                <th>功能</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="role:${roleList}">
                <td th:text="${role.getName()}"></td>
                <td th:text="${role.getFunctions()}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/role/modify/}+${role.getName()}" >编辑</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/role/delete/}+${role.getName()}">删除</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>